<script type="text/javascript">
	$(document).on('fbload', checkLike);

	function checkLike(){
  	FB.api('/me', function(response) {
  		alert(JSON.stringify(response))
			if (response.id) {
		    var user_id = response.id;
		    var page_id = "199601326870016";
		    var fql_query = "SELECT uid FROM page_fan WHERE page_id = "+page_id+"and uid="+user_id;
		    var the_query = FB.Data.query(fql_query);
		    the_query.wait(function(rows) {
		        if (rows.length == 1 && rows[0].uid == user_id) {
	            window.location = "<%= video_path %>"
		        }
		    });
		  }

    });
  }

	function checkStatus(){
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
		    var uid = response.authResponse.userID;
		    var accessToken = response.authResponse.accessToken;
		    window.location = "<%= video_path %>"
		  }
		});
	}

	function authUser(){
		FB.login(function(response) {

		  if (response.authResponse) {
		    FB.api('/me', function(response) {
		    	checkStatus();
		    });
		  }

		}, {scope: 'email, user_likes'});
	}

</script>

<section class="general curtir">
	<!--div class="block_cntt pin">
		<img src="/assets/top_curtir.png">
	</div>

	<header>
		<a id="loginButton" onclick="authUser();">
			<img src="/assets/like_fb.png" width="15" height="15"/>&nbsp;
			<span>Curtir</span>
		</a>

		<h1 class="logo">
			<img src="/assets/logo_fcpeo.png" />
		</h1>
		<div class="col_02">
			<p class="line_01">ASSISTA <span>AO VIVO</span></p>
			<h2 class="line_03">REVISÃO PARA O ENEM</h2>
			<p class="line_04">TRANSMISSÃO DA GRAVAÇÃO DE AULA</p>
		</div>
	</header-->

	<section class="schedule">
		<img src="/assets/new/banner-nolike.jpg" />
	</section>

	<footer>
		<a href="http://www.enem.com.br/" target="_blank">www.enem.com.br</a>
	</footer>

	<div class="fb-comments" data-href="http://www.enem.com.br#qgdoenem-facecam-nolike" data-numposts="10" data-width="800"></div>
</section>