<script type="text/javascript">
	$(document).on('fbload', function(){
	
		function authUser(){

			FB.login(function(response) {

			  if (response.authResponse) {
			    FB.api('/me', function(response) {
			    	checkStatus();
			    });
			  }

			}, {scope: 'email, user_likes'});

		}

		function checkStatus(){
			FB.getLoginStatus(function(response) {
		  	alert(response.status)
			  if (response.status === 'connected') {
			    var uid = response.authResponse.userID;
			    var accessToken = response.authResponse.accessToken;
			    window.location = "<%= video_path %>"
			  }
			});
		}

	});

	$(document).on('fbload', checkStatus);

</script>

<section class="general curtir">
	<div class="block_cntt pin">
		<div class="fb-like" data-href="https://www.facebook.com/QGdoEnem?fref=ts" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false" style="position:absolute;left: 7px; top: 17px;"></div>

		<img src="/assets/top_curtir.png">
	</div>

	<input id="loginButton" type="button" value="Login!" onclick="authUser();" />

	<header>
		<h1 class="logo">
			<img src="/assets/logo_fcpeo.png" />
		</h1>
		<div class="col_02">
			<p class="line_01">ASSISTA <span>AO VIVO</span></p>
			<h2 class="line_03">REVISÃO PARA O ENEM</h2>
			<p class="line_04">TRANSMISSÃO DA GRAVAÇÃO DE AULA</p>
		</div>


	</header>

	<section class="schedule">
		<img src="/assets/programacao.png" />
	</section>

	<footer>
		<a href="http://www.enem.com.br/" target="_blank">www.enem.com.br</a>
	</footer>
</section>